@{
    ViewBag.Title = "Scheduled Appointments";

}
@*bring in the class from the viewmodels folder*@
@model LaytonTempleTours.Models.ViewModels.TourViewModel
<div>
    <h2 class="text-center">Here are the submitted appointments.</h2>
    <br />
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Scheduled Time</th>
                <th>Group Name</th>
                <th>Group Size</th>
                <th>Email Address</th>
                <th>Phone Number</th>

            </tr>
        </thead>
        <tbody>
@*iterate through the groupinfos ienummerable object*@
            @foreach ( var x in Model.GroupInfos){ 

            <tr>

                <td>@x.TimeSlot</td>
                <td>@x.Name</td>
                <td>@x.Size</td>
                <td>@x.Email</td>
                <td>@x.PhoneNumber</td>

            </tr>

            }
        </tbody>
    </table>
</div>